-var n = 0;
-var m = 0;
-var arr=[{id: 1, name: '食品加工', slug: 'food-processing', desc: '食品產業供應鏈的上游可分為肉品與食品原料兩大類...'}, {id: 12, name: '金融理財', slug: 'finance-management', desc: '藉由金融業專業人員管理客戶的資產...'}, {id: 2, name: '休閒娛樂', slug: 'leisure-entertainment', desc: '提供人們娛樂與休閒功效之服務與產品...'}, {id: 3, name: '房屋營建', slug: 'build-construction', desc: '從事住宅、商辦、工廠或公共工程等...'}, {id: 4, name: '生活百貨', slug: 'various-goods', desc: '利用賣場通路提供大眾日常居家生活產品與服務...'}, {id: 11, name: '交通運輸', slug: 'automobile-transportation', desc: '運輸是一種衍生的經濟行為，從事...'}, {id: 6, name: '能源環保', slug: 'energy-environment', desc: '環保意識逐漸抬頭，希望再生能源能逐漸取代...'}, {id: 7, name: '生技醫療', slug: 'medical-biotechnology', desc: '結合科技與醫療為社會大眾提供醫療與保健服務，包括...'}, {id: 8, name: '積體電路', slug: 'integrated-circuit', desc: '隨著5G，AI人工智能等新興服務的發展...'}, {id: 9, name: '電子科技', slug: 'electronic-technology', desc: '電腦週邊產業十分廣闊，上游為...'}, {id: 10, name: '電機機械', slug: 'electric-machinery', desc: '製造所有相關的機械與設計，用機械化...'}, {id: 16, name: '網路通訊', slug: 'internet-communication', desc: '通訊網路負責日常與商用所有的...'}]
html
  head 
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap" rel="stylesheet")
    link(rel='stylesheet' type='text/css' href='./font.css')      
    link(rel='stylesheet' type='text/css' href='./main.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/css/swiper.css")
    link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.js")
    script(src="https://d3js.org/d3.v5.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    title 知識學習到股票下單，一站滿足－股感Stockfeel
    meta(name="description" content="投資學習不再遙不可及！股感攜手永豐金證券，帶你從生活圈和能力圈出發，培養投資嗅覺，並結合AI與大數據，幫你輕鬆縮小範圍、篩選標的！讓生活本身，就是一場最美的投資！讓股感，即刻啟動你的生活投資！")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="股感Stockfeel")
    meta(property="og:title" content="知識學習到股票下單，一站滿足－股感Stockfeel") 
    meta(property="og:description" content="提供投資及產業的最新資訊及基礎知識")
    meta(property="og:url" content="https://stockfeel.github.io/Sinopac-OrderEvent-201912")
    meta(property="og:image" content="https://stockfeel.github.io/Sinopac-OrderEvent-201912/asset/og_image.png")
    meta(property="og:description" content="投資學習不再遙不可及！股感攜手永豐金證券，帶你從生活圈和能力圈出發，培養投資嗅覺，並結合AI與大數據，幫你輕鬆縮小範圍、篩選標的！讓生活本身，就是一場最美的投資！讓股感，即刻啟動你的生活投資！")
    meta(property="og:locale" content="zh_TW")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@StockSense_")
    meta(name="twitter:title" content="知識學習到股票下單，一站滿足－股感Stockfeel")
    meta(name="twitter:description" content="投資學習不再遙不可及！股感攜手永豐金證券，帶你從生活圈和能力圈出發，培養投資嗅覺，並結合AI與大數據，幫你輕鬆縮小範圍、篩選標的！讓生活本身，就是一場最美的投資！讓股感，即刻啟動你的生活投資！")
    meta(name="twitter:image" content="./asset/og_image.png")
    meta(itemprop="name" content="知識學習到股票下單，一站滿足－股感Stockfeel")
    meta(itemprop="description" content="投資學習不再遙不可及！股感攜手永豐金證券，帶你從生活圈和能力圈出發，培養投資嗅覺，並結合AI與大數據，幫你輕鬆縮小範圍、篩選標的！讓生活本身，就是一場最美的投資！讓股感，即刻啟動你的生活投資！")
    meta(itemprop="image" content="./asset/og_image.png")
  body
    .fix-btn
      a.gift(href='#event')
        img(src='./asset/gift_btn.png')
      a.apply(href='https://www.sinotrade.com.tw/SpdOpenAct/Main/Apply01.aspx?strProd=0048&strWeb=0042' target='_blank')
        img(src='./asset/fix_btn.png')
    section.landing
      .landing__logo
        a(href='https://www.stockfeel.com.tw/' target='_blank')
          img(src='./asset/logo.svg')
      .landing__title
        for n in [1,2,3,4,5,6,7,8,9]
          img(src='./asset/title/'+n+'.svg')
      .landing__steps
        .step 
          img(src='./asset/landing_light.png')
          h2 知識學習
        .step__arrow 
          img(src='./asset/landing_arrow.svg') 
        .step 
          img(src='./asset/landing_coin.png') 
          h2 投資下單
        .step.communication
          h2 一次滿足

        div(style='padding:40% 0 0 0;position:relative;width:70%')
          iframe(src='https://player.vimeo.com/video/114922291?autoplay=0&color=4bbebe&title=0&byline=0&portrait=0&controls=0' style='position:absolute;top:0;left:0;width:100%;height:100%;' frameborder='0' allow='autoplay; fullscreen' allowfullscreen='')
        script(src='https://player.vimeo.com/api/player.js')


      .landing__info
        p 股感攜手永豐金證券，秉持著落實普惠金融、致力打造知識金融場域的理念，帶你從自身的#[span.highlight 生活能力圈出發、培養投資嗅覺]，啟動你的生活投資！
      .btn
        a(href='#event') 立刻查看優惠
        .btn__next
          img.default(src='./asset/btn_arrow.svg')
          img.hover(src='./asset/btn_arrow_hover.svg')
      .ball-bg
        for n in [1,2,3,4,5,6,7,8,9,10]
          .ball
            img(src='./asset/ball/'+n+'.png')
      .pure-bg
        for m in [1,2,3,4,5,6,7,8,9,10]
          .bgBall
    nav.navbar 
      a.tab(href="#event")
          img(src="./asset/tab1.png")
      a.tab(href="https://www.sinotrade.com.tw/SpdOpenAct/Main/Apply01.aspx?strProd=0048&strWeb=0042" target="_blank")
        img(src="./asset/tab2.png")
    main
      section.industry#industry
        section.container
          .title-bg 
            img(src='./asset/industry/title.png')
          .info
            .title 從生活圈出發啟動生活投資
            .intro #[span.highlight 在股感開啟你的商業視野]，認識產業主題包，讓生活串連投資零時差！
          .canvas
            .imgBox.land
              img(src='./asset/industry/land.png')
            .imgBox.bus
              img(src='./asset/industry/bus.png')
            .imgBox.machine
              img(src='./asset/industry/machine.png')
            .imgBox.building
              img(src='./asset/industry/building.png')
            .imgBox.airplane
              img(src='./asset/industry/airplane.png')
            .imgBox.chart1
              img(src='./asset/industry/chart1.png')
            .imgBox.chart2
              img(src='./asset/industry/chart2.png')
            .imgBox.chart3
              img(src='./asset/industry/chart3.png')
            .imgBox.coin1
              img(src='./asset/industry/coin1.png')
            .imgBox.coin2
              img(src='./asset/industry/coin2.png')
            .imgBox.coin3
              img(src='./asset/industry/coin3.png')
            .imgBox.front
              img(src='./asset/industry/front.png')
            .imgBox.wifi
              img(src='./asset/industry/wifi.png')
        .menu.swiper-container#menu
          .swiper-wrapper
            for m in [1,2,3,4,5,6,7,8,9,10,11,12]
              .menu__item.swiper-slide(data-name= arr[m-1].id)
                p.slide__title= arr[m-1].name
                .imgBox
                  img.land(src='./asset/land.png')
                  img.object(src='./asset/ball/'+m+'.png')
                .menu__hoverBox.hidden
                  svg.lstroke(width="23" height="60" viewBox="0 0 23 60")
                    path(fill="none" fill-rule="evenodd" stroke="#4BB5B1" d="M1.5 59.959V24.124L22.07.898")
                  svg.rstroke(width="36" height="73" viewBox="0 0 36 73")
                    path(fill="none" fill-rule="evenodd" stroke="#4BB5B1" d="M35.048 0v38.488L1.204 72.332")
                  .rtBox #{arr[m-1].desc}
                  //- .lbBox
                  a.btn-small(href='https://www.stockfeel.com.tw/industrychain/?class='+arr[m-1].slug+'' target='_blank') 了解產業
      section.invest#invest
        section.container
          .title-bg
            img(src='./asset/invest/title.png')
          .info.right-align
            .title 
              div 精選主題投資
              div 輕鬆縮小投資範圍
            .intro
              p #[span.highlight 精選主題投組與指標投組]，
              p 為你輕鬆篩選標的，
              p 省時省力不燒腦！
            .btn
              a(href='https://www.stockfeel.com.tw/category/stock-concept/' target='_blank') 即刻體驗
              .btn__next
                img.default(src='./asset/btn_arrow.svg')
                img.hover(src='./asset/btn_arrow_hover.svg')
          .canvas
            .imgBox.land
              img(src='./asset/invest/land.png')
            .imgBox.wall
              img(src='./asset/invest/wall.png')
            .imgBox.boxc1
              img(src='./asset/invest/boxc1.png')
            .imgBox.boxl3
              img(src='./asset/invest/boxl3.png')
            .imgBox.boxl2
              img(src='./asset/invest/boxl2.png')
            .imgBox.boxl1
              img(src='./asset/invest/boxl1.png')
            .imgBox.boxr2
              img(src='./asset/invest/boxr2.png')
            .imgBox.boxr1
              img(src='./asset/invest/boxr1.png')
            .imgBox.plant
              img(src='./asset/invest/plant.png')
            .imgBox.circle1
              img(src='./asset/invest/circle1.png')
            .imgBox.circle2
              img(src='./asset/invest/circle2.png')
            .imgBox.circle3
              img(src='./asset/invest/circle3.png')
            .imgBox.coin1
              img(src='./asset/invest/coin1.png')
            .imgBox.coin2
              img(src='./asset/invest/coin2.png')
            .imgBox.coin3
              img(src='./asset/invest/coin3.png')
            .imgBox.cancel
              img(src='./asset/invest/cancel.png')
            .imgBox.check
              img(src='./asset/invest/check.png')
            .imgBox.other
              img(src='./asset/invest/other.png')
            .imgBox.time
              img(src='./asset/invest/time.png')
            .imgBox.front
              img(src='./asset/invest/front.png')
      section.sources#sources
        section.container
          .title-bg
            img(src='./asset/sources/title.png')
          .info
            .title 學習大師投資奠定成功基石
            .intro #[span.highlight 股感擁有豐富金融知識庫]，輕鬆學習大師的價值價量投資學，練就投資真功夫！
            .btn
              a(href='https://www.stockfeel.com.tw/category/investment-expert/' target='_blank') 探索大師心法
              .btn__next
                img.default(src='./asset/btn_arrow.svg')
                img.hover(src='./asset/btn_arrow_hover.svg')
          .canvas
            .imgBox.land
              img(src='./asset/sources/land.png')
            .imgBox.mountain
              img(src='./asset/sources/mountain.png')
            .imgBox.book
              img(src='./asset/sources/book.png')
            .imgBox.bSquare
              img(src='./asset/sources/bSquare.png')
            .imgBox.gSquare
              img(src='./asset/sources/gSquare.png')
            .imgBox.bar
              img(src='./asset/sources/bar.png')
            .imgBox.boxl2
              img(src='./asset/sources/boxl2.png')
            .imgBox.boxl1
              img(src='./asset/sources/boxl1.png')
            .imgBox.boxr2
              img(src='./asset/sources/boxr2.png')
            .imgBox.boxr1
              img(src='./asset/sources/boxr1.png')
            .imgBox.chart1
              img(src='./asset/sources/chart1.png')
            .imgBox.chart2
              img(src='./asset/sources/chart2.png')
            .imgBox.house
              img(src='./asset/sources/house.png')
            .imgBox.img2
              img(src='./asset/sources/img2.png')
            .imgBox.img1
              img(src='./asset/sources/img1.png')
            .imgBox.line
              img(src='./asset/sources/line.png')
            .imgBox.pen
              img(src='./asset/sources/pen.png')
            .imgBox.tree1
              img(src='./asset/sources/tree1.png')
            .imgBox.tree2
              img(src='./asset/sources/tree2.png')
            .imgBox.front
              img(src='./asset/sources/front.png')
            .imgBox.ySquareS
              img(src='./asset/sources/ySquareS.png')
            .imgBox.bSquareS
              img(src='./asset/sources/bSquareS.png')
            .imgBox.video
              img(src='./asset/sources/video.png')
            .imgBox.pie
              img(src='./asset/sources/pie.png')
      section.products#products
        section.container
          .title-bg
            img(src='./asset/products/title.png')
          .info.right-align
            .title 囊括海內外金融商品即刻啟動生活投資
            .intro 股感囊括眾多海內外金融標的，不只#[span.highlight 美股台股更有豐富ETF可選擇]，串連知識學習和投資下單零時差！
            .btn
              a(href='https://www.stockfeel.com.tw/category/stock-concept/' target='_blank') 即刻體驗
              .btn__next
                img.default(src='./asset/btn_arrow.svg')
                img.hover(src='./asset/btn_arrow_hover.svg')
          .canvas
            .imgBox.land
              img(src='./asset/products/land.png')
            .imgBox.arrow
              img(src='./asset/products/arrow.png')
            .imgBox.bbox
              img(src='./asset/products/bbox.png')
            .imgBox.bbox2
              img(src='./asset/products/bbox2.png')
            .imgBox.pie
              img(src='./asset/products/pie.png')
            .imgBox.charttw
              img(src='./asset/products/charttw.png')
            .imgBox.chartus
              img(src='./asset/products/chartus.png')
            .imgBox.coin
              img(src='./asset/products/coin.png')
            .imgBox.focuslb
              img(src='./asset/products/focuslb.png')
            .imgBox.focusrt
              img(src='./asset/products/focusrt.png')
            .imgBox.ybox
              img(src='./asset/products/ybox.png')
            .imgBox.chartc
              img(src='./asset/products/chartc.png')
            .imgBox.bar
              img(src='./asset/products/bar.png')
            .imgBox.mouse
              img(src='./asset/products/mouse.png')
      section.event#event
        .event__info
          p 前 100 名於股感網站開戶成功者 
        h1 立即享三大好康
        .event__section
          span.heading_no 1.
          span.heading 開戶享活儲利率1.1%
        .event__section
          span.heading_no 2.
          span.heading 存股享手續費超優惠
        .event__section
          span.heading_no 3.
          span.heading 台股、複委託手續費優惠
        .event__next 
          img(src="./asset/event_arrow.svg")  
        a#event_intro_open.highlight 點我看詳細活動辦法
        .event_introduction
          p.event__list__title 一、開戶買股手續費超優惠  
          ul.event__list
            li 活動期間：2020/12/1~2021/6/30  
            li 新戶必須於活動期間透過線上開戶、線上加開（不含預約開戶）完成帳戶開立，方符合活動資格，且手續費優惠係以活動期間內開立之帳號為計算依據。  
            li 開戶享台幣50萬以內活儲利率1.1%，限綁定「大戶DAWHO數位帳戶」作為台股/複委託交割銀行帳戶。  
            li 手續費超優惠包含台股電子交易、海外股票（港股、美股）電子交易。  
            li 活動期間台股電子交易其手續費折讓優惠須採月退方式(日退恕不符合本優惠資格)，且其手續費每月先隨同交易收取，於次月15日退回該折讓金額於客戶原交割帳戶，每筆手續費折扣後不滿1元以1元計收，超過優惠交易限額部份依原手續費計算。  
            li 活動期間港、美股電子交易優惠手續費將會隨同交易計算收取。  
            li 若已參加其他活動方案，須先滿足其他活動方案條件，依各專案推行時間為順序，恕不多重提供其他手續費優惠，如薪轉戶線上開戶交易優惠活動。  
            li 線上申購（豐存股）買台股、美股，恕不列入本項開戶買股手續費超優惠內。  

          p.event__list__title 二、存台股手續費優惠
          ul.event__list
            li 活動時間：2020/07/01～2021/12/31止。
            li 客戶必須於透過豐存股線上平台完成申購並成功扣款，方符合活動資格。 
            li 活動期間每筆申購(同一天同一標的單筆及定期申購合併計算)扣款金額10,000(含)元以下買進手續費優惠，優惠手續費將會隨同交易收取，每筆扣款金額超過10,000元以上者依原手續費計算。
            li 提醒您：賣出手續費將依照一般台股手續費率收取。

          p.event__list__title 三、存美股手續費優惠
          ul.event__list
            li 活動時間：2020/11/01～2021/6/30止。
            li 買進手續費以成交價金乘以0.3%，低收1美元，優惠手續費將會隨同交易收取。
            li 提醒您：賣出手續費將依照一般複委託手續費率收取。  

          p.event__list__title 四、手續費優惠詳情，請洽分公司業務同仁或撥打客服專線0800-038-123。
          p.event__list__title 五、客戶不得要求更換活動獎項，永豐金證券保有修改、調整活動細節的權利，無須事前通知。

        .btn
          a(href='https://www.stockfeel.com.tw/industrychain/' target='_blank') 即刻體驗
          .btn__next
            img.default(src='./asset/btn_arrow.svg')
            img.hover(src='./asset/btn_arrow_hover_orange.svg')
      section.sales#sales 
        h1 常見問與答
        .sales__question
          .question.open #[span Q1] 為什麽股感要和永豐金證券合作？ #[span.control]
            .answer 
              p 以打造知識金融場域目標的股感，攜手理念相近、 致力推廣普惠金融的永豐金證券，藉由提供多元化知識內容、客製化服務，幫助用戶產生興趣、了解產業，並建構系統化學習，進而輔助投資人進行交易決策，實踐「互聯網金融一站式」的服務體驗！
          .question #[span Q2] 我還沒帳戶，該怎麽開戶呢？ #[span.control]
            .answer.hidden 
              h3 申請永豐金證券的「大戶投」帳戶，您將需要：
              p 1.永豐銀行「大戶DAWHO」數位帳戶
              p 2.本人身分證＆第二證件 ( 如：駕照、健保卡 )
              p 3.須為年滿20歲的本國自然人
              h4 【申請開戶】
              p 我「沒有」永豐銀行「大戶DAWHO」數位帳戶：
              .steps 
                .circle
                  p 開立
                  p 永豐金證券
                  p 「大戶DAWHO」
                  p 證券帳戶
                img.answer__arrow(src='./asset/sales/arrow.svg')
                .circle
                  p 開立
                  p 永豐金證券
                  p 「大戶投」
                  p 證券帳戶
              p 第一步：請先至「#[a(href="https://sinourl.tw/pmNVft" target="_blank") 永豐銀行大戶Dawho]」網頁，開立數位銀行交割帳戶。
              p 第二步：收到E-mail通知銀行開戶成功後，透過「#[a(href="https://sinourl.tw/KmaoD7" target="_blank") 股感專屬開戶連結]」，開立證券及複委託交易帳戶。
              br
              br
              p 我「已有」永豐銀行「大戶DAWHO」數位帳戶：
              .steps 
                .circle
                  p 直接開立
                  p 永豐金證券
                  p 「大戶投」
                  p 證券帳戶
              p 直接透過「#[a(href="https://sinourl.tw/KmaoD7" target="_blank") 股感專屬開戶連結]」，線上填寫基本資料、上傳雙證件、簽屬各項契約書，即可同時開立證券及複委託交易帳戶。
              br
              br
              h4 【申請完成】
              p 完成大戶投開戶申請後，須等1-2個工作天審核，審核通過後會收到E-mail通知已完成開戶。欲知大戶投線上開戶進度，請至「#[a(href="https://sinourl.tw/l4rHqg" target="_blank") 網頁查詢]」
          .question #[span Q3] 永豐金證券可以如何輔助我進行投資決策？ #[span.control ]
            .answer.hidden 
              .answer__feature
                p 1.AI幫您顧：運用各種AI演算法，在雲端自動分析，提供您最想知道的各種投資訊息
              .answer__feature 
                p 2.熱門主題：為您追蹤近期熱門產業，精選數檔超夯概念股，讓您隨時觀看市場趨勢。
              .answer__feature 
                p 3.每日必看：為您分別整理台股盤前與盤後必看資訊，以及最新國際股市動態。
          .question #[span Q4] 在股感上交易，是否會知道我的交易資料跟帳號呢？ #[span.control ]
            .answer.hidden 
              p 請不用擔心！股感不會知道您的任何交易資料，站上所有交易系統皆於「永豐金證券」進行，一切交易相關的系統操作或個人資訊股感皆不會經手，故不用擔心資料被留存或再利用的情事發生。
          .question #[span Q5] 如果我有問題，我可以聯絡誰？ #[span.control ]
            .answer.hidden 
              p 開戶問題，請來信永豐金證券客服信箱 #[a(href='mailto:service.sec@sinopac.com' target='_blank') service.sec@sinopac.com] 或致電 0800-038-123 ／  02-6630-8899 (台股營業日 7:30 至 22:00) 將有專人為您服務。
              p 關於網頁資訊，與其他服務或系統問題煩請來信 #[a(href='mailto:service@stockfeel.com.tw' target='_blank') service@stockfeel.com.tw] ，將於三個工作天內為您服務。
    footer
      .footer__upper
        table 
          tr
            td 
              img(src='./asset/logo1.svg')
            td 
              img(src='./asset/logo2.png')
          tr
            td 
              p 股感生活金融科技股份有限公司｜
                a(href='https://reurl.cc/N6mA05' target='_blank') 客服信箱
              p 台北市松山區民生東路三段135號3樓
            td 
              p 永豐金證券股份有限公司 #[span 台北市重慶南路一段2號7、18、20樓]
              p 0800-038-123 #[span 02-6630-8899] #[span (台股營業日7:30 a.m.-10:00 p.m.)]
              p 107年金管證總字第0006號


      .footer__right © Stockfeel. All rights reserved
  script(src='./app.js')
