-var n = 0;
-var m = 0;
-var arr=[{id: 1, name: '食品加工'}, {id: 12, name: '金融理財'}, {id: 2, name: '休閒娛樂'}, {id: 3, name: '房屋營建'}, {id: 4, name: '生活百貨'}, {id: 11, name: '交通運輸'}, {id: 6, name: '能源環保'}, {id: 7, name: '生技醫療'}, {id: 8, name: '積體電路'}, {id: 9, name: '電子科技'}, {id: 10, name: '電機機械'}, {id: 16, name: '網路通訊'}]
html
  head 
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap" rel="stylesheet")
    link(rel='stylesheet' type='text/css' href='./font.css')      
    link(rel='stylesheet' type='text/css' href='./main.css')  
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://unpkg.com/swiper/js/swiper.min.js")
    script(src="https://d3js.org/d3.v5.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    title 知識學習到股票下單，一站滿足－股感Stockfeel
    meta(name="description" content="投資學習不再遙不可及！股感攜手永豐金證券，帶你從生活圈和能力圈出發，培養投資嗅覺，並結合AI與大數據，幫你輕鬆縮小範圍、篩選標的！讓生活本身，就是一場最美的投資！讓股感，即刻啟動你的生活投資！")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="股感Stockfeel")
    meta(property="og:title" content="知識學習到股票下單，一站滿足－股感Stockfeel") 
    meta(property="og:description" content="提供投資及產業的最新資訊及基礎知識")
    meta(property="og:url" content="https://stockfeel.github.io/Sinopac-OrderEvent-201912")
    meta(property="og:image" content="https://stockfeel.github.io/Sinopac-OrderEvent-201912/asset/og_image.png")
    meta(property="og:description" content="投資學習不再遙不可及！股感攜手永豐金證券，帶你從生活圈和能力圈出發，培養投資嗅覺，並結合AI與大數據，幫你輕鬆縮小範圍、篩選標的！讓生活本身，就是一場最美的投資！讓股感，即刻啟動你的生活投資！")
    meta(property="og:locale" content="zh_TW")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@StockSense_")
    meta(name="twitter:title" content="知識學習到股票下單，一站滿足－股感Stockfeel")
    meta(name="twitter:description" content="投資學習不再遙不可及！股感攜手永豐金證券，帶你從生活圈和能力圈出發，培養投資嗅覺，並結合AI與大數據，幫你輕鬆縮小範圍、篩選標的！讓生活本身，就是一場最美的投資！讓股感，即刻啟動你的生活投資！")
    meta(name="twitter:image" content="./asset/og_image.png")
    meta(itemprop="name" content="知識學習到股票下單，一站滿足－股感Stockfeel")
    meta(itemprop="description" content="投資學習不再遙不可及！股感攜手永豐金證券，帶你從生活圈和能力圈出發，培養投資嗅覺，並結合AI與大數據，幫你輕鬆縮小範圍、篩選標的！讓生活本身，就是一場最美的投資！讓股感，即刻啟動你的生活投資！")
    meta(itemprop="image" content="./asset/og_image.png")
  body
    a.fix-btn(href='https://www.sinotrade.com.tw/SpdOpenAct/Main/Apply01.aspx?strProd=0048&strWeb=0042' target='_blank')
      img(src='./asset/fix_btn.png')
    section.landing
      .landing__logo
        a(href='https://www.stockfeel.com.tw/' target='_blank')
          img(src='./asset/logo.svg')
      .landing__title
        for n in [1,2,3,4,5,6,7,8,9]
          img(src='./asset/title/'+n+'.svg')
      .landing__steps
        .step 
          img(src='./asset/landing_light.png')
          h2 知識學習
        .step__arrow 
          img(src='./asset/landing_arrow.svg') 
        .step 
          img(src='./asset/landing_coin.png') 
          h2 投資下單
        .step.communication
          h2 一次滿足
      .landing__info
        p 股感攜手永豐金證券，秉持著落實普惠金融、致力打造知識金融場域的理念，帶你從自身的#[span.highlight 生活能力圈出發、培養投資嗅覺]，啟動你的生活投資！
      .btn
        a(href='https://www.stockfeel.com.tw/industrychain/' target='_blank') 即刻體驗
        .btn__next
          img.default(src='./asset/btn_arrow.svg')
          img.hover(src='./asset/btn_arrow_hover.svg')
      .ball-bg
        for n in [1,2,3,4,5,6,7,8,9,10]
          .ball
            img(src='./asset/ball/'+n+'.png')
      .pure-bg
        for m in [1,2,3,4,5,6,7,8,9,10]
          .bgBall
    main
      section.industry#industry
        .title-bg 
          img(src='./asset/industry/title.png')
        .info
          .title 從生活圈出發啟動生活投資
          .intro #[span.highlight 在股感開啟你的商業視野]，認識產業主題包，讓生活串連投資零時差！
        .canvas
          .imgBox.land
            img(src='./asset/industry/land.png')
          .imgBox.bus
            img(src='./asset/industry/bus.png')
          .imgBox.machine
            img(src='./asset/industry/machine.png')
          .imgBox.building
            img(src='./asset/industry/building.png')
          .imgBox.airplane
            img(src='./asset/industry/airplane.png')
          .imgBox.chart1
            img(src='./asset/industry/chart1.png')
          .imgBox.chart2
            img(src='./asset/industry/chart2.png')
          .imgBox.chart3
            img(src='./asset/industry/chart3.png')
          .imgBox.coin1
            img(src='./asset/industry/coin1.png')
          .imgBox.coin2
            img(src='./asset/industry/coin2.png')
          .imgBox.coin3
            img(src='./asset/industry/coin3.png')
          .imgBox.front
            img(src='./asset/industry/front.png')
          .imgBox.wifi
            img(src='./asset/industry/wifi.png')
      .menu.swiper-container#menu
        .swiper-wrapper
          for m in [1,2,3,4,5,6,7,8,9,10,11,12]
            .menu__item.swiper-slide(data-name= arr[m-1].id)
              p.slide__title= arr[m-1].name
              .imgBox
                img.land(src='./asset/land.png')
                img.object(src='./asset/ball/'+m+'.png')
              .menu__hoverBox.hidden
                svg.lstroke(width="23" height="60" viewBox="0 0 23 60")
                  path(fill="none" fill-rule="evenodd" stroke="#4BB5B1" d="M1.5 59.959V24.124L22.07.898")
                svg.rstroke(width="36" height="73" viewBox="0 0 36 73")
                  path(fill="none" fill-rule="evenodd" stroke="#4BB5B1" d="M35.048 0v38.488L1.204 72.332")
                .rtBox
                .lbBox
                a.btn-small(href='#' target='_blank') 了解產業
      section.invest#invest
        .title-bg
          img(src='./asset/invest/title.png')
        .info.right-align
          .title 
            div 精選主題投資
            div 輕鬆縮小投資範圍
          .intro #[span.highlight 精選主題投組與指標投組]，<br/>
            | 為你輕鬆篩選標的，<br/>
            | 省時省力不燒腦！<br/>
          .btn
            a(href='https://www.stockfeel.com.tw/category/stock-concept/' target='_blank') 即刻體驗
            .btn__next
              img.default(src='./asset/btn_arrow.svg')
              img.hover(src='./asset/btn_arrow_hover.svg')
        .canvas
          .imgBox.land
            img(src='./asset/invest/land.png')
          .imgBox.wall
            img(src='./asset/invest/wall.png')
          .imgBox.boxc1
            img(src='./asset/invest/boxc1.png')
          .imgBox.boxl3
            img(src='./asset/invest/boxl3.png')
          .imgBox.boxl2
            img(src='./asset/invest/boxl2.png')
          .imgBox.boxl1
            img(src='./asset/invest/boxl1.png')
          .imgBox.boxr2
            img(src='./asset/invest/boxr2.png')
          .imgBox.boxr1
            img(src='./asset/invest/boxr1.png')
          .imgBox.plant
            img(src='./asset/invest/plant.png')
          .imgBox.circle1
            img(src='./asset/invest/circle1.png')
          .imgBox.circle2
            img(src='./asset/invest/circle2.png')
          .imgBox.circle3
            img(src='./asset/invest/circle3.png')
          .imgBox.coin1
            img(src='./asset/invest/coin1.png')
          .imgBox.coin2
            img(src='./asset/invest/coin2.png')
          .imgBox.coin3
            img(src='./asset/invest/coin3.png')
          .imgBox.cancel
            img(src='./asset/invest/cancel.png')
          .imgBox.check
            img(src='./asset/invest/check.png')
          .imgBox.other
            img(src='./asset/invest/other.png')
          .imgBox.time
            img(src='./asset/invest/time.png')
          .imgBox.front
            img(src='./asset/invest/front.png')
      section.sources#sources
        .title-bg
          img(src='./asset/sources/title.png')
        .info
          .title 學習大師投資奠定成功基石
          .intro #[span.highlight 股感擁有豐富金融知識庫]，輕鬆學習大師的價值價量投資學，練就投資真功夫！
          .btn
            a(href='https://www.stockfeel.com.tw/category/investment-expert/' target='_blank') 探索大師心法
            .btn__next
              img.default(src='./asset/btn_arrow.svg')
              img.hover(src='./asset/btn_arrow_hover.svg')
        .canvas
          .imgBox.land
            img(src='./asset/sources/land.png')
          .imgBox.mountain
            img(src='./asset/sources/mountain.png')
          .imgBox.book
            img(src='./asset/sources/book.png')
          .imgBox.bSquare
            img(src='./asset/sources/bSquare.png')
          .imgBox.gSquare
            img(src='./asset/sources/gSquare.png')
          .imgBox.bar
            img(src='./asset/sources/bar.png')
          .imgBox.boxl2
            img(src='./asset/sources/boxl2.png')
          .imgBox.boxl1
            img(src='./asset/sources/boxl1.png')
          .imgBox.boxr2
            img(src='./asset/sources/boxr2.png')
          .imgBox.boxr1
            img(src='./asset/sources/boxr1.png')
          .imgBox.chart1
            img(src='./asset/sources/chart1.png')
          .imgBox.chart2
            img(src='./asset/sources/chart2.png')
          .imgBox.house
            img(src='./asset/sources/house.png')
          .imgBox.img2
            img(src='./asset/sources/img2.png')
          .imgBox.img1
            img(src='./asset/sources/img1.png')
          .imgBox.line
            img(src='./asset/sources/line.png')
          .imgBox.pen
            img(src='./asset/sources/pen.png')
          .imgBox.tree1
            img(src='./asset/sources/tree1.png')
          .imgBox.tree2
            img(src='./asset/sources/tree2.png')
          .imgBox.front
            img(src='./asset/sources/front.png')
          .imgBox.ySquareS
            img(src='./asset/sources/ySquareS.png')
          .imgBox.bSquareS
            img(src='./asset/sources/bSquareS.png')
          .imgBox.video
            img(src='./asset/sources/video.png')
          .imgBox.pie
            img(src='./asset/sources/pie.png')
      section.products#products
        .title-bg
          img(src='./asset/products/title.png')
        .info.right-align
          .title 囊括海內外金融商品即刻啟動生活投資
          .intro 股感囊括眾多海內外金融標的，不只#[span.highlight 美股台股更有豐富ETF可選擇]，串連知識學習和投資下單零時差！
          .btn
            a(href='https://www.stockfeel.com.tw/category/stock-concept/' target='_blank') 即刻體驗
            .btn__next
              img.default(src='./asset/btn_arrow.svg')
              img.hover(src='./asset/btn_arrow_hover.svg')
        .canvas
          .imgBox.land
            img(src='./asset/products/land.png')
          .imgBox.arrow
            img(src='./asset/products/arrow.png')
          .imgBox.bbox
            img(src='./asset/products/bbox.png')
          .imgBox.bbox2
            img(src='./asset/products/bbox2.png')
          .imgBox.pie
            img(src='./asset/products/pie.png')
          .imgBox.charttw
            img(src='./asset/products/charttw.png')
          .imgBox.chartus
            img(src='./asset/products/chartus.png')
          .imgBox.coin
            img(src='./asset/products/coin.png')
          .imgBox.focuslb
            img(src='./asset/products/focuslb.png')
          .imgBox.focusrt
            img(src='./asset/products/focusrt.png')
          .imgBox.ybox
            img(src='./asset/products/ybox.png')
          .imgBox.chartc
            img(src='./asset/products/chartc.png')
          .imgBox.bar
            img(src='./asset/products/bar.png')
          .imgBox.mouse
            img(src='./asset/products/mouse.png')
      section.sales#sales 
        h1 常見問與答
        .sales__question
          .question.open #[span Q1] 為什麽股感要和永豐金證券合作？ #[span.control]
            .answer 
              p 以打造知識金融場域目標的股感，攜手理念相近、 致力推廣普惠金融的永豐金證券，藉由提供多元化知識內容、客製化服務，幫助用戶產生興趣了解產業，並建構系統化學習，進而輔助投資人進行交易決策，實踐互聯網金融一站式的服務體驗！
          .question #[span Q2] 股感全新功能，可以提供什麼樣的服務呢？ #[span.control ]
            .answer.hidden
              p 1. 認識各大產業：帶你從熟悉的生活能力圈開始了解產業，並逐步從中拓展至十二大產業主題。
              p 2. 產業主題投組：從十二大產業中幫你篩出最適標的、縮小投資範圍。
              p 3. 眾多金融商品：不只主題投組，台股、美股、ETF，三大金融商品一次滿足！
          .question #[span Q3] 永豐金證券可以如何輔助我進行投資決策？ #[span.control ]
            .answer.hidden 
              .logo
                p AI幫您顧 
                img(src='./asset/logo3.svg')
              p 運用各種AI演算法，在雲端自動分析，提供您最想知道的各種投資訊息
              .answer__feature
                img(src='./asset/feature/master.svg')
                p 1.大師選股：為您整理金融界裡的大師：華倫‧巴菲特、彼得·林區、班傑明·葛拉漢
              .answer__feature 
                img(src='./asset/feature/hot.svg') 
                p 2.熱門主題：為您追蹤近期熱門產業，精選數檔超夯概念股，讓您隨時觀看市場趨勢。
              .answer__feature 
                img(src='./asset/feature/daily.svg') 
                p 3.每日必看：為您分別整理台股盤前與盤後必看資訊，以及最新國際股市動態。
          .question #[span Q4] 在股感上交易，是否會知道我的交易資料跟帳號呢？ #[span.control ]
            .answer.hidden 
              p 請不用擔心！股感不會知道您的任何交易資料，站上所有交易系統皆於永豐金證券進行，一切交易相關的系統操作或個人資訊股感皆不會經手，故不用擔心資料被留存或再利用的情事發生。
          .question #[span Q5] 我還不是永豐金證券的用戶，該怎麽進行開戶作業？ #[span.control ]
            .answer.hidden 
              p 1.行動開戶：手機下載豐管家，進行開戶作業
              .steps 
                img(src='./asset/sales/1.svg')
                img.answer__arrow(src='./asset/sales/arrow.svg')
                img(src='./asset/sales/2.svg')
                img.answer__arrow(src='./asset/sales/arrow.svg')
                img(src='./asset/sales/3.svg')
                img.answer__arrow(src='./asset/sales/arrow.svg')
                img(src='./asset/sales/4.svg')
                img.answer__arrow(src='./asset/sales/arrow.svg')
                img(src='./asset/sales/5.svg')
              p 2.網路預約：線上完成開戶預約，將有專人為您服務
              p 3.親臨各大據點臨櫃辦理更多開戶相關的詳細資訊，可至永豐金證券網站了解
          .question #[span Q6] 開戶需準備什麽文件？ #[span.control ]
            .answer.hidden 
              p 本人身分證正本、本人開戶印鑑、本人第二證明文件 ( 如駕照或健保卡等 )
          .question #[span Q7] 要怎麼確認我已完成開戶？ #[span.control ]
            .answer.hidden
              p 待您完成所有線上開戶手續後，系統將會自動發送簡訊及 email 通知您。請留意您的手機簡訊及信箱。
          .question #[span Q8] 可以幫未成年子女線上開戶嗎？ #[span.control ]
            .answer.hidden 
              p 目前線上開戶只開放本國年滿20歲自然人辦理，暫不接受法人及代理人開戶，若欲開戶請至全省服務據點臨櫃辦理。
          .question #[span Q9] 下單後，我可以在股感看到我的交易紀錄嗎？ #[span.control ]
            .answer.hidden 
              p 您可以於股感與永豐全新設計的下單系統中查看。未來的股感系統，也會提供自行輸入查詢等相關記錄功能，方便您做後續相關操作。
          .question #[span Q10] 如果我有問題，我可以聯絡誰？ #[span.control ]
            .answer.hidden 
              p 開戶問題，請來信永豐金證券客服信箱 #[a(href='mailto:service.sec@sinopac.com' target='_blank') service.sec@sinopac.com] 或致電 0800-038-123 ／  02-6630-8899 (台股營業日 7:30 至 22:00) 將有專人為您服務。
              p 關於網頁資訊，與其他服務或系統問題煩請來信 #[a(href='mailto:service@stockfeel.com.tw' target='_blank') service@stockfeel.com.tw] ，將於三個工作天內為您服務。
    footer
      .footer__upper
        table 
          tr 
            td 
              img(src='./asset/logo2.png')
            td 
              p 永豐金證券股份有限公司 #[span 台北市重慶南路一段2號7、18、20樓]
              p 0800-038-123 #[span 02-6630-8899] #[span (台股營業日7:30 a.m.-10:00 p.m.)]
              p 107年金管證總字第0006號
          tr 
            td 
              img(src='./asset/logo1.svg')
            td 
              p 股感生活 #[span 投資有股感，成為你的投資方向感]
              p 台北市松山區民生東路三段135號3樓
      .footer__right © Stockfeel. All rights reserved
  script(src='./app.js')
