-var n = 0;
-var m = 0;
html
  head 
    title 永豐活動頁面
    // link(rel='stylesheet' type='text/css' href='./font.css')  
    link(rel='stylesheet' type='text/css' href='./main.css')  
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.2/CSSRulePlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://unpkg.com/swiper/js/swiper.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
  body
    section.landing
      .landing__logo
        img(src='./asset/logo.svg')
      .landing__title
        for n in [1,2,3,4,5,6,7,8,9,10]
          img(src='./asset/title/'+n+'.svg')
      .landing__steps
        .step 
          img(src='./asset/landing_light.png')
          h2 知識學習
        .step__arrow 
          img(src='./asset/landing_arrow.svg') 
        .step 
          img(src='./asset/landing_coin.png') 
          h2 投資下單
        .step 
          img(src='./asset/landing_dialogue.svg')
      .landing__info
        p 股感攜手永豐金證券，秉持著落實普惠金融、致力打造知識金融場域的理念，帶你從自身的#[span.highlight 生活能力圈出發、培養投資嗅覺]，啟動你的生活投資！
      .btn
        p 即刻體驗
        img(src='./asset/landing_next.svg')
      .ball-bg
        for n in [1,2,3,4,5,6,7,8,9,10]
          .ball
            img(src='./asset/ball/'+n+'.png')
      .pure-bg
        for m in [1,2,3,4,5,6,7,8,9,10]
          .bgBall
    main
      section.industry#industry
        .title-bg 
          h3 industry 
          h4 industry 
        .info
          .title 從生活圈出發啟動生活投資
          .intro 股感帶你從生活圈及能力圈出發，認識產業主題包，讓生活串連投資零時差！
        .canvas
          .imgBox.land
            img(src='./asset/industry/land.png')
          .imgBox.bus
            img(src='./asset/industry/bus.png')
          .imgBox.machine
            img(src='./asset/industry/machine.png')
          .imgBox.building
            img(src='./asset/industry/building.png')
          .imgBox.airplane
            img(src='./asset/industry/airplane.png')
          .imgBox.chart1
            img(src='./asset/industry/chart1.png')
          .imgBox.chart2
            img(src='./asset/industry/chart2.png')
          .imgBox.chart3
            img(src='./asset/industry/chart3.png')
          //- img(class='chart4' src='./asset/industry/chart4.png')
          .imgBox.coin1
            img(src='./asset/industry/coin1.png')
          .imgBox.coin2
            img(src='./asset/industry/coin2.png')
          .imgBox.coin3
            img(src='./asset/industry/coin3.png')
          .imgBox.front
            img(src='./asset/industry/front.png')
      .menu#menu
        for m in [1,2,3,4,5,6,7,8,9,10]
          .menu__item
            img(src='./asset/ball/'+m+'.png') 
      section.invest#invest
        .title-bg
          h3 invest 
          h4 invest
        .info
          .title 精選十二大產業別輕鬆縮小投資範圍
          .intro 永豐金證券精選十二大產業投資組合，為你輕鬆篩選標的，省時省力不燒腦！
          .btn
            p 即刻體驗
            img(src='./asset/landing_next.svg')
        .canvas
          .imgBox.land
            img(src='./asset/invest/land.png')
          .imgBox.wall
            img(src='./asset/invest/wall.png')
          .imgBox.boxc1
            img(src='./asset/invest/boxc1.png')
          .imgBox.boxl3
            img(src='./asset/invest/boxl3.png')
          .imgBox.boxl2
            img(src='./asset/invest/boxl2.png')
          .imgBox.boxl1
            img(src='./asset/invest/boxl1.png')
          .imgBox.boxr2
            img(src='./asset/invest/boxr2.png')
          .imgBox.boxr1
            img(src='./asset/invest/boxr1.png')
          .imgBox.plant
            img(src='./asset/invest/plant.png')
          .imgBox.circle1
            img(src='./asset/invest/circle1.png')
          .imgBox.circle2
            img(src='./asset/invest/circle2.png')
          .imgBox.circle3
            img(src='./asset/invest/circle3.png')
          .imgBox.coin1
            img(src='./asset/invest/coin1.png')
          .imgBox.coin2
            img(src='./asset/invest/coin2.png')
          .imgBox.coin3
            img(src='./asset/invest/coin3.png')
          .imgBox.cancel
            img(src='./asset/invest/cancel.png')
          .imgBox.check
            img(src='./asset/invest/check.png')
          .imgBox.other
            img(src='./asset/invest/other.png')
          .imgBox.time
            img(src='./asset/invest/time.png')
          .imgBox.front
            img(src='./asset/invest/front.png')
      section.sources
        .title-bg
          h3 sources 
          h4 sources
        .info
          .title 學習大師投資奠定成功基石
          .intro 股感擁有豐富金融知識庫，輕鬆學習大師的價值價量投資學，練就投資真功夫！
        .canvas
          .imgBox.land
            img(src='./asset/sources/land.png')
          .imgBox.mountain
            img(src='./asset/sources/mountain.png')
          .imgBox.book
            img(src='./asset/sources/book.png')
          .imgBox.bSquare
            img(src='./asset/sources/bSquare.png')
          .imgBox.bar
            img(src='./asset/sources/bar.png')
          .imgBox.gbox
            img(src='./asset/sources/gbox.png')
          .imgBox.boxl1
            img(src='./asset/sources/boxl1.png')
          .imgBox.boxl2
            img(src='./asset/sources/boxl2.png')
          .imgBox.boxr1
            img(src='./asset/sources/boxr1.png')
          .imgBox.boxr2
            img(src='./asset/sources/boxr2.png')
          .imgBox.chart1
            img(src='./asset/sources/chart1.png')
          .imgBox.chart2
            img(src='./asset/sources/chart2.png')
          .imgBox.house
            img(src='./asset/sources/house.png')
          .imgBox.img1
            img(src='./asset/sources/img1.png')
          .imgBox.img2
            img(src='./asset/sources/img2.png')
          .imgBox.line
            img(src='./asset/sources/line.png')
          .imgBox.pen
            img(src='./asset/sources/pen.png')
          .imgBox.tree1
            img(src='./asset/sources/tree1.png')
          .imgBox.tree2
            img(src='./asset/sources/tree2.png')
          .imgBox.front
            img(src='./asset/sources/front.png')
      section.products
        .title-bg
          h3 products 
          h4 products
        .info
          .title 囊括海內外金融商品即刻啟動生活投資
          .intro 股感囊括眾多海內外金融標的，不只美股台股更有豐富ETF可選擇，串連知識學習和投資下單零時差！
          .btn
            p 即刻體驗
            img(src='./asset/landing_next.svg')
        .canvas
      section.sales 
    footer
      p © Stockfeel. All rights reserved
  script(src='./app.js')
