@import ./style.sass

$colors: $primary, $yellow, $blue, $orange
$colors2: $yellow, $blue, $orange
+initialize

@keyframes up
	from 
		transform: translateY(0px)
	to 
		transform: translateY(-46px)

nav.navbar
	width: 100% 
	position: fixed
	bottom: 0
	display: none 
	z-index: 10
	justify-content: center
	padding: 0
	&.nav-hidden 
		transform: translateY(46px)
	.tab
		width: 50%
		position: relative
		&:nth-child(2n+1)::after, &:nth-child(2n)::after 
			position: absolute
			color: white 
			font-size: 15px
			right: 25%
			top: 35px
		&:nth-child(2n+1)::after
			content: '開戶優惠'
		&:nth-child(2n)::after 
			content: '我要開戶'
		&:nth-child(2n+1)::before 
			content: ''
			+size(65px, 46px)
			position: absolute
			left: 0
			top: 22px
			background-image: url('./asset/gift.png') 
		&:nth-child(2n)::before 
			content: ''
			+size(65px, 46px)
			position: absolute
			left: 0
			top: 22px
			background-image: url('./asset/acc.png')
		img 
			width: 100%
	& > * 
		display: inline-block

.fix-btn
	position: fixed
	bottom: 50px
	right: 100px
	z-index: 10
	img 
		cursor: pointer
	&::after 
		font-size: 17px 
		color: white 
		position: absolute
		bottom: 4%
		left: 10px
	&.apply::after 
		content: '我要開戶'
	&.gift
		bottom: 16%
		&::after 
			content: '開戶優惠'

// landing
.landing
	+size(100%, 100%)
	background: white
	position: relative
	display: flex
	display: -webkit-flex
	justify-content: center
	align-items: center
	flex-direction: column
	overflow: hidden
	&>* 
		z-index: 5
.landing__logo 
	margin-bottom: 66px
	img
		cursor: pointer
.landing__title
	margin-bottom: 20px
	overflow: hidden
	& > * 
		margin: 0 8px
.landing__steps
	+flexCenter()
	margin-bottom: 60px
	.step__arrow 
		margin: 0 15px
	.step
		+flexCenter()
		h2
			font-family: 'GenSenMaru'
			font-weight: 800
		&>*:not(&:last-child)
			margin: 0 6px
			color: $text
			font-size: 40px
	.step.communication 
		+size(200px, 80px)
		background-image: url('./asset/landing_dialogue.svg')
		background-size: contain
		background-repeat: no-repeat
		background-position: center center
		h2 
			position: absolute
			color: $primary 
			z-index: 7
			font-size: 30px
			margin-top: 2px
.landing__info p
	text-align: center
	width: 737px
	line-height: 1.78
	letter-spacing: 0.33px
	font-size: 18px
.landing .btn p 
	color: white
.ball-bg
	display: flex
	z-index: 2
.ball
	position: absolute
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	z-index: 2
	img
		width: 80%
		height: 80%
		object-fit: contain
@for $i from 1 through 10 
	.ball:nth-child(#{$i})
		left: #{random(100)+'%'}
		bottom: -400px
		background: nth($colors2, random(3))
		+size(#{200+random(200))+'px'})

// landing ball
.landing .pure-bg
	z-index: 1
.landing .bgBall
	position: absolute
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	z-index: 1
@for $i from 1 through 10 
	.bgBall:nth-child(#{$i})
		left: #{random(100)+'%'}
		bottom: -300px
		background: nth($colors, random(4))
		+size(#{50+random(100))+'px'})

main 
	position: relative
	overflow: hidden
.down-bg
	z-index: 0
.down-bg .bgBall
	position: absolute
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	z-index: 0
@for $i from 1 through 10 
	.bgBall:nth-child(#{$i})
		left: #{random(100)+'%'}
		bottom: -300px
		background: nth($colors, random(4))
		+size(#{50+random(100))+'px'})

.title-bg 
	position: absolute
.canvas 
	transform: scale(0.8) 

.industry
	z-index: 2
	.info 
		left: 20%
		top: 40%
	.title-bg
		width: 50%
		right: 10%
		top: 25%
	.canvas 
		right: 5% 
		bottom: 0

.invest 
	z-index: 2
	.info 
		right: 20%
		top: 30%
		.title 
			width: 320px
	.title-bg 
		width: 50%
		left: 15% 
		top: 20%
	.canvas 
		left: 5% 
		bottom: 10%

.sources 
	.info 
		left: 20%
		top: 30%
	.title-bg 
		width: 50%
		top: 15%
		right: 10%
	.canvas
		z-index: 2
		right: 0 
		bottom: 10%
		
.products 
	.info 
		right: 20%
		top: 25%
		.title 
			width: 360px
	.title-bg 
		width: 50%
		top: 15%
		left: 10%
	.canvas
		z-index: 2
		bottom: 10%
		left: 5%

.industry, .invest
	background: $bg
.sources, .products
	background: white

// section canvas position 
.canvas .imgBox
	display: inline-block
	position: absolute
	overflow: hidden


.industry .info
	.intro 
		width: 198px

.industry .canvas 
	position: absolute
	+size(960px, 500px)
	.land 
		+pos(auto, 100px)
	.front 
		+pos(260px, 80px)
	.machine 
		+pos(600px, 10px)
	.building
		+pos(300px, -30px)
	.bus
		+pos(220px, 150px)
	.airplane
		+pos(auto, 200px)
	.coin1
		+pos(50px, 0)
	.coin2
		+pos(50px, -100px)
	.coin3
		+pos(50px, 210px)
	.chart1 
		+pos(200px, 50px)
	.chart2
		+pos(90px, 80px)
	.chart3
		+pos(50px, 150px)
	.wifi 
		+pos(500px, 180px)

.invest .info
	.title 
		width: 325px	
	.intro 
		width: 196px
		p 
			margin: 0

.invest .canvas 
	position: absolute
	+size(960px, 500px)
	.imgBox.land
		+pos(-100px, 120px)
	.imgBox.wall 
		+pos(50px, 100px)
	.imgBox.other
		+pos(60px, -20px)
	.imgBox.front 
		+pos(280px, 250px)
	.imgBox.boxc1 
		+pos(300px, 150px)
	.imgBox.plant
		+pos(100px, 250px)
	.imgBox.time
		+pos(580px, 30px)
	.imgBox.coin1
		+pos(150px, -200px)
	.imgBox.coin2
		+pos(400px, -100px)
	.imgBox.coin3
		+pos(150px, 300px)
	.imgBox.boxr1 
		+pos(480px, 50px)
	.imgBox.boxr2
		+pos(480px, 50px)
	.imgBox.boxl1
		+pos(90px, 20px)
	.imgBox.boxl2
		+pos(90px, 60px)
	.imgBox.boxl3
		+pos(90px, 100px)
	.imgBox.check
		+pos(420px, 220px)
	.imgBox.cancel
		+pos(200px, 170px)
	.imgBox.circle1
		+pos(100px, 250px)
	.imgBox.circle2
		+pos(160px, 235px)
	.imgBox.circle3
		+pos(220px, 225px)

.sources .info
	.title 
		width: 241px
	.intro 
		width: 204px

.sources .canvas 
	position: absolute
	+size(960px, 500px)
	.imgBox.land
		+pos(-100px, 120px)
	.imgBox.mountain 
		+pos(200px, 100px)
	.imgBox.house 
		+pos(475px, 175px)
	.imgBox.line 
		+pos(0, 150px)
	.imgBox.front 
		+pos(350px, 170px)
	.imgBox.mountain 
		+pos(200px, 100px)
	.imgBox.tree1 
		+pos(660px, 160px)
	.imgBox.tree2
		+pos(420px, 220px)
	.imgBox.book
		+pos(60px, -80px)
	.imgBox.img1	
		+pos(340px, -150px)
	.imgBox.img2 
		+pos(320px, -120px)
	.imgBox.chart1 
		+pos(450px, 70px)
	.imgBox.chart2
		+pos(580px, 70px)
	.imgBox.bar
		+pos(190px, 60px)
	.imgBox.boxl1 
		+pos(490px, 50px)
	.imgBox.boxl2
		+pos(460px, 30px)
	.imgBox.boxr1 
		+pos(610px, 50px)
	.imgBox.boxr2
		+pos(580px, 30px)
	.imgBox.pen
		+pos(220px, -80px)
	.imgBox.bSquare
		+pos(350px, 50px)
	.imgBox.gSquare
		+pos(-50px, 250px)
	.imgBox.video
		+pos(500px, -130px)
	.imgBox.ySquareS
		+pos(50px, 100px)
	.imgBox.bSquareS
		+pos(30px, 80px)
	.imgBox.pie
		+pos(180px, 150px)

.products .info
	.title 
		width: 361px
	.intro 
		width: 196px

.products .canvas 
	position: absolute
	+size(960px, 500px)
	.imgBox.land
		+pos(-100px, 120px)
	.imgBox.chartus 
		+pos(100px, 70px)
	.imgBox.charttw
		+pos(450px, 70px)
	.imgBox.chartc
		+pos(200px, -70px)
	.imgBox.bar 
		+pos(600px, 120px)
	.imgBox.focuslb
		+pos(180px, 180px)
	.imgBox.focusrt 
		+pos(500px, -80px)
	.imgBox.bbox 
		+pos(300px, 250px)
	.imgBox.pie 
		+pos(0, -150px)
	.imgBox.mouse 
		+pos(480px, 100px)
	.imgBox.coin 
		+pos(500px, 330px)
	.imgBox.arrow 
		+pos(20px, 300px)
	.imgBox.bbox2
		+pos(35px, 222px)
	.imgBox.ybox 
		+pos(20px, 250px)
	.imgBox.path
		+pos(30px, 100px)

// section bg ball 
.products .pure-bg
	z-index: 1
.products .bgBall
	position: absolute
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	z-index: 1
@for $i from 1 through 10 
	.bgBall:nth-child(#{$i})
		left: #{random(100)+'%'}
		background: nth($colors, random(4))
		+size(#{50+random(100))+'px'})

// menu
.menu.swiper-container
	width: 100%
	height: 250px
	background: $bg
	z-index: 2
	.swiper-wrapper 
		height: 200px
		background: $bg
	.swiper-slide
		+size(200px, 200px)
		background: $bg
		display: flex 
		align-items: center 
		justify-content: center 
		flex-direction: column
		.slide__title
			color: $primary
		.imgBox
			+size(90%, 90%)
			+flexCenter()
			pointer-events: none
			&>*
				position: absolute
			.object
				+size(80%, 80%)
				bottom: 5px
			.land 
				object-fit: contain
				bottom: 0
	&:before 
		content: ''
		position: absolute
		top: 0
		left: 0
		background: linear-gradient(90deg, rgba($bg,1) 0%, rgba($bg,1) 50%, rgba($bg,0) 75%);
		+size(390px, 364px)
		z-index: 6
		pointer-events: none
	&:after 
		right: 0
		top: 0
		content: ''
		position: absolute
		z-index: 6
		background: linear-gradient(-90deg, rgba($bg,1) 0%, rgba($bg,1) 50%, rgba($bg,0) 75%);
		+size(390px, 364px)
		pointer-events: none
.menu__hoverBox
	opacity: 1
	transition: opacity .5s
	a
		pointer-events: auto
	&.hidden 
		opacity: 0
	svg
		position: absolute
		z-index: 6
		path
			stroke-dasharray: 320
	  	stroke-dashoffset: 0
	.lstroke
		left: 20px 
		top: 50px
	.rstroke 
		right: 20px
		bottom: 20px
	.rtBox
		position: absolute
		left: -10px
		bottom: 0
		background: white 
		padding: 8px
		+size(120px, 90px)
		z-index: 10
		border-radius: 20px
		color: $text
		font-weight: normal
		font-size: 12px
		pointer-events: none
	.lbBox
		position: absolute
		right: -40px
		top: 0
		width: 100px 
		height: 80px
		background: white
		z-index: 0
		border-radius: 20px
		padding: 6px 10px
		pointer-events: none
		p 
			margin: 0
			font-size: 12px
			color: $text
		.box__info 
			&.down 
				&:before
					content: '▼'
					color: #2ace43
					font-size: 12px
			&.up 
				&:before
					content: '▼'
					display: inline-block
					transform: rotate(180deg)
					color: #df7065
					font-size: 12px

	.btn-small 
		position: absolute
		background: $primary 
		color: white 
		z-index: 10
		text-align: center
		display: flex 
		justify-content: center 
		align-items: center
		+size(97px, 36px)
		border-radius: 18px
		left: 20px 
		bottom: -10px
		text-decoration: underline
		cursor: pointer
  
// event 
section.event 
	background: #fff7d9
	height: auto
	display: flex 
	flex-direction: column
	align-items: center
	.btn 
		background: $orange
		margin-bottom: 60px
	.event__info 
		margin-top: 40px
		p 
			text-align: center 
			margin: 0
			font-size: 40px
			font-weight: bold
			color: #4d4d4d
	h1 
		color: $orange 
		text-align: center
		font-size: 75px
		margin: 0
	.event__section 
		box-sizing: border-box 
		position: relative
		background: white
		width: 40%
		margin: 50px auto 20px auto
		border-bottom: 1px solid $orange
		padding: 20px 6%
		h2 
			color: $orange 
			font-size: 64px
			font-weight: bold
			margin: 0
			span
				font-size: 40px
		&::before 
			content: ''
			position: absolute 
			width: 90% 
			height: 1px
			background-color: $orange 
			right: 0 
			top: 0
		p
			font-size: 14px
			margin: 0
			span 
				display: inline-block
				color: white 
				background: $orange
				font-size: 18px
				+size(32px)
				vertical-align: middle 
				text-align: center
				padding: 5px 
				border-radius: 16px		
				margin-top: -5px	
		&::after 
			content: ''
			position: absolute 
			left: -13%
			top: -20px
			width: 165px 
			height: 60px
			background-repeat: no-repeat
			background-size: cover
		img 
			position: absolute
			max-width: 100%
			max-height: 100% 
			width: auto 
			height: auto
			&.hidden
				display: none
		.event__point 
			&:nth-child(2n+1)
				right: 100px
				top: -50px 
				+size(96px)
			&:nth-child(2n)
				right: -30px 
				top: 30px 
				+size(60px)
		.event__calendar
			&:nth-child(3n+1)
				right: -1%
			&:nth-child(3n+2)
				left: 5%
				top: 150px
			&:nth-child(3n)
				right: 10%
				bottom: 50px
		.event__feature
			&:nth-child(2n+1)
				left: 5%
				bottom: 100px
			&:nth-child(2n)
				right: 5%
				bottom: 100px
	.event__next
		animation: waving 1s infinite

section.event .event__section
	&:nth-child(2n+1)
		&::after 
			background-image: url("./asset/dis-count-bubble-1.svg")
	&:nth-child(2n)
		height: 777px
		h2 
			font-size: 35px
		&::after 
			background-image: url("./asset/dis-count-bubble-2.svg")

@keyframes waving 
	0%
		transform: translateY(0)
	50% 
		transform: translateY(10px)
	100% 
		transform: translateY(0)

@keyframes dash
  from 
    stroke-dashoffset: 320
  to 
    stroke-dashoffset: 0

// QA 
section.sales
	height: auto
	background: $bg
	z-index: 5
	display: flex 
	justify-content: flex-start
	align-items: center 
	flex-direction: column
	padding-bottom: 100px
	overflow: hidden
	h1 
		color: $primary
		font-
		: bold 
		font-size: 64px
.sales__question
	width: 732px
	a 
		color: $text
		text-decoration: underline
	.question
		position: relative
		font-size: 21px
		font-weight: bold 
		color: $text
		border-bottom: 1px solid $primary
		padding: 15px
		background-color: $bg
		span 
			font-size: 30px 
			margin-right: 15px
			color: $text
		.answer__feature 
			display: flex 
			margin: 10px 0
			img 
				margin-right: 10px
			p 
				width: 490px
		.control
			position: absolute 
			right: 20px
			top: 35px
			width: 15px 
			height: 15px
			transform-origin: center				
			&:before 
				content: ''
				position: absolute
				width: 15px 
				height: 2px 
				top: 5px
				right: 0 
				background: $text
				transform: rotate(90deg)
				transition: .5s
			&:after 
				content: ''
				position: absolute
				width: 15px 
				height: 2px
				top: 5px
				right: 0 
				background: $text
			&:hover 
				transform: rotate(180deg)
	.question.open 
		background-color: white
		color: $primary
		border: none
		border-bottom: 1px solid $primary
		transition: .5s
		span 
			color: $primary
		.control
			&:before 
				transform: rotate(0deg)
				background: $primary
			&:after 
				background: $primary
	.steps
		+flexCenter()
		&>* 
			margin: 10px
	.answer
		font-size: 16px
		color: $text
		font-weight: normal
		padding: 30px
	  line-height: 1.69
	  letter-spacing: 0.25px
	  height: auto 
		opacity: 1
	  transition: .5s
		overflow: none
		margin-top: 0px
		& * 
			opacity: 1 
			transition: .1s
			pointer-events: none
		p
			margin: 0
		img 
			pointer-events: none
		a 
			pointer-events: auto
		&.hidden 
			height: 20px
			overflow: hidden
			margin-top: -60px
			& * 
				opacity: 0
			a 
				pointer-events: none

	.answer .logo 
		display: flex 
		justify-content: flex-start 
		align-items: center
		img 
			margin-left: 20px		

// footer
footer 
  width: 100%
  color: white
  background: $primary
  padding: 50px 0
  .footer__upper 
  	display: flex
  	justify-content: center
  	align-items: center
  	padding: 30px 0
  	flex-direction: column
  	td 
  		padding-top: 33px
  		vertical-align: top
  	& p 
	  	color: white 
	  	margin: 0px
	  	margin-left: 20px
	  	font-size: 14px
	  	line-height: 1.47
	  	span:first-child
	  		border-left: 1px solid white
	  		padding-left: 5px
	  		margin-left: 3px
  .footer__right 
  	text-align: center
  	color: #4bb5b1
  	mix-blend-mode: multiply
  	font-size: 14px
  tr:nth-child(2) td:first-child img
  	+size(205px, 48px)
  	margin-top: -5px


// RWD pad 
@media all and (max-width:1025px)
	.fix-btn 
		bottom: 20px
		right: 20px
	main
		overflow: hidden
		padding: 0
	section
		overflow: hidden
	.landing
		+flexCenter()
		.landing__info 
			+flexCenter()
			p
				width: 60%
		.landing__steps
			&>*
				margin: 0
			.step h2
				font-size: 36px
			.step.communication
				+size(190px, 50px)
				background-image: url('./asset/landing_dialogue.svg')
				background-size: contain
				background-repeat: no-repeat
				background-position: center center
				h2
					font-size: 28px

	// pad menu
	.menu.swiper-container
		&:before 
			+size(100px, 364px)
		z-index: 6
		&:after 
			+size(100px, 364px)

	// pad canvas
	.industry, .invest, .sources, .products
		height: 900px
		max-height: 1024px
		.info 
			top: 10%
			width: 100%
			left: 50%
			transform: translateX(-50%)
			+flexCenter()
			.title
				width: 100%
				margin: 0
				text-align: center
			.intro 
				width: 100%
				text-align: center
				margin: 0
		.title-bg 
			top: 25%
			left: 0
			position: absolute
		.canvas 
			left: 0	
			bottom: 0
			transform: scale(0.95)

	.invest .info .intro p 
		display: inline-block

	footer .footer__upper 
		margin-left: 50%
		transform: translateX(-50%)
		min-width: 450px
		p
			width: 100%
			margin-left: 0
		td
			display: inline-block
			text-align: center
		tr 
			display: flex 
			flex-direction: column
			align-items: center
		
	// pad ball
	@for $i from 1 through 10 
		.ball:nth-child(#{$i})
			left: #{random(50)+'%'}
			bottom: -400px
			background: nth($colors, random(4))
			+size(#{150+random(100))+'px'})

	@for $i from 1 through 10 
		.bgBall:nth-child(#{$i})
			left: #{random(50)+'%'}
			bottom: -300px
			background: nth($colors, random(4))
			+size(#{50+random(50))+'px'})		
	
	section.event .event__section 
		width: 70%
		padding: 20px 50px 20px 100px
		h2 
			font-size: 56px
		.event__point 
			&:nth-child(2n+1)
				left: 10px
				top: 50px 
				+size(80px)
			&:nth-child(2n)
				right: 30px 
				top: -30px 
		img 
			max-width: 70%
			max-height: 70% 

@media all and (max-width: 769px)
	section.event .event__section 
		&::after 
			width: 113px 
			height: 40px

@media all and (max-width: 415px)
	nav.navbar 
		display: flex
	.fix-btn 
		display: none
	.landing
		overflow: hidden
		+flexCenter()
		.landing__logo img
			width: 124px
			height: 20px
		.landing__info 
			+flexCenter()
			p
				width: 231px
				font-size: 14px
		.landing__title
			display: flex
			justify-content: center
			align-items: center 
			flex-wrap: wrap
			width: 80%
			&>* 
				margin: 5px
				width: 39px
		.landing__steps
			&>*
				margin: 0
			.step > *
				margin: 0 5px
			.step h2
				font-size: 18px
				width: 37px
			.step.communication
				+size(70px)
				background-image: url('./asset/landing_bubble.svg')
				background-size: contain
				background-repeat: no-repeat
				background-position: center center
				h2 
					font-size: 18px
			img:not(img:last-child)
				width: 30px

	// mobile menu
	.menu.swiper-container
		z-index: 6
		&:before 
			+size(0, 364px)
		&:after 
			+size(0, 364px)

	// mobile canvas 
	.industry, .invest, .sources, .products
		.info 
			.title 
				font-size: 31.5px
			.intro 
				width: 277px
				margin-top: 10px
		.title-bg 
			left: 10%
			top: 220px
			img
				width: 290px
		.canvas 
			left: -200px
			top: 250px
			transform: scale(0.5)
	.industry 
		.info .title 
			width: 220px
	.invest .info .title 
		width: 276px
	.sources .info .title 
		width: 220px
	.products .info .title 
		width: 306px
	
	// mobile QA
	section.sales h1 
		font-size: 38px
	.sales__question
		width: 80%
		.question
			font-size: 15px
			span
				font-size: 15.8px
				margin-right: 3px
			.control
				position: absolute 
				right: 2px
				top: 20px
				transform-origin: center				
				&:before, &:after 
					width: 10px
					height: 1px
		.answer 
			font-size: 14px
			padding: 15px
			margin-top: 0px
			&.hidden 
				margin-top: -25px
		.steps
			img 
				+size(50px)
			.answer__arrow 	
				+size(4px, 9px)
	
	// mobile footer
	footer .footer__upper 
		min-width: 350px
		tr:first-child td:nth-child(2) 
			p:first-child span, p:nth-child(2) span:last-child
	  		border-left: none
	  		display: block
		p 
			font-size: 14px
		tr 
			display: flex 
			flex-direction: column

	// mobile ball
	@for $i from 1 through 10 
		.ball:nth-child(#{$i})
			left: #{random(50)+'%'}
			bottom: -400px
			background: nth($colors, random(4))
			+size(#{50+random(100))+'px'})

	@for $i from 1 through 10 
		.bgBall:nth-child(#{$i})
			left: #{random(50)+'%'}
			bottom: -300px
			background: nth($colors, random(4))
			+size(#{50+random(50))+'px'})		

	section.event 
		.event__info p 
			font-size: 24px
		h1 
			font-size: 48px
			padding: 0 50px
	section.event .event__section 
		width: 90%
		padding: 20px 5%
		&::after 
			left: -1%
		img 
			max-width: 70%
			max-height: 70% 
		img.event__calendar
			&:nth-child(3n+1)
				top: 170px
				&.hidden
					top: 450px
					left: 20px
					max-width: 50%
					max-height: 50% 
					display: block
			&:nth-child(3n+2)
				top: 220px
			&:nth-child(3n)
				max-width: 40%
				max-height: 40% 
				right: 10%
				bottom: 30px
		img.event__feature 
			max-width: 40%
			max-height: 40% 
			&:nth-child(2n+1)
				left: 5%
				bottom: 30px
			&:nth-child(2n)
				right: 5%
				bottom: 200px
		p 
			margin-top: 20px
		h2 
			font-size: 48px
		.event__point 
			&:nth-child(2n+1)
				left: 320px
				top: 80px 
				+size(40px)
			&:nth-child(2n)
				right: 30px 
				top: -30px 
				+size(50px)