@import ./style.sass

$colors: $primary, $yellow, $blue, $orange
+initialize

// landing
.landing
	position: relative
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	overflow: hidden
	&>* 
		margin-top: 20px
		z-index: 5
.landing__steps
	+flexCenter()
	.step
		+flexCenter()
		&>*:not(&:last-child)
			margin: 0 10px
		h2.communication 
			color: $primary 
			margin-right: -50%
			z-index: 6
.ball-bg
	display: flex
	z-index: 2
.ball
	position: absolute
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	z-index: 2
	// visibility: hidden
	img
		width: 80%
		height: 80%
		object-fit: contain
@for $i from 1 through 10 
	.ball:nth-child(#{$i})
		left: #{random(100)+'%'}
		bottom: -400px
		background: nth($colors, random(4))
		+size(#{200+random(200))+'px'})
.landing .pure-bg
	z-index: 1
.landing .bgBall
	position: absolute
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	z-index: 1
@for $i from 1 through 10 
	.bgBall:nth-child(#{$i})
		left: #{random(100)+'%'}
		bottom: -300px
		background: nth($colors, random(4))
		+size(#{50+random(100))+'px'})

// layout 
section:not(section:first-child) 
	background: $bg
	& > *
		position: absolute
.industry
	.info 
		left: 20%
		top: 40%
	.title-bg
		width: 50%
		right: 0
		top: 25%
	.canvas 
		right: 20% 
		bottom: 0

.invest 
	.info 
		right: 20%
		top: 30%
		.title 
			width: 320px
	.title-bg 
		width: 50%
		left: 20% 
		top: 20%
	.canvas 
		left: 20% 
		bottom: 10%

.sources 
	.info 
		left: 20%
		top: 30%
	.title-bg 
		width: 50%
		top: 10%
		right: 0
	.canvas
		right: 10% 
		bottom: 10%
		
.products 
	.info 
		right: 20%
		top: 25%
		.title 
			width: 360px
	.title-bg 
		width: 50%
		top: 10%
		left: 20%
	.canvas
		bottom: 10%
		left: 20%

.industry, .invest
	background: $bg
.sources, .products
	background: white

@media (max-width:767px)
	section:not(section:first-child) 
		overflow: hidden
		display: flex
		text-align: center
		height: auto
	.landing
		.landing__info
			width: 50%	
	.industry
		.info 
			top: 10%
			width: 100%
			left: 50%
			transform: translateX(-50%)
			+flexCenter()
			.title
				width: 100%
				margin: 0
				text-align: center
			.intro 
				width: 100%
				text-align: center
				margin: 0
		.title-bg 
			right: 10%
			width: 80%
			.imgBox
				img
					width: 100%
		.canvas 
			left: 50%
			transform: translate(-50%, -100px) scale(0.9)
	.invest
		.info 
			top: 10%
			width: 100%
			left: 50%
			transform: translateX(-50%)
			+flexCenter()
			.title
				width: 100%
				margin: 0
				text-align: center
			.intro 
				width: 100%
				text-align: center
				margin: 0
		.title-bg 
			left: 10%
			width: 70%
			top: 30%
			.imgBox
				img
					width: 100%
		.canvas 
			left: 50%
			transform: translateX(-50%) scale(0.9)
	.sources
		.info 
			top: 10%
			width: 100%
			left: 50%
			transform: translateX(-50%)
			+flexCenter()
			.title
				width: 100%
				margin: 0
				text-align: center
			.intro 
				width: 100%
				text-align: center
				margin: 0
		.title-bg 
			right: 10%
			width: 70%
			top: 25%
			.imgBox
				img
					width: 100%
		.canvas 
			left: 50%
			transform: translateX(-50%) scale(0.9)
	.products
		.info 
			top: 10%
			width: 90%
			left: 50%
			transform: translateX(-50%)
			+flexCenter()
			.title
				width: 100%
				margin: 0
				text-align: center
			.intro 
				width: 90%
				text-align: center
				margin: 0
		.title-bg 
			left: 10%
			width: 70%
			top: 30%
			.imgBox
				img
					width: 100%
		.canvas 
			left: 50%
			transform: translateX(-50%) scale(0.9)


// menu
.menu.swiper-container
	width: 100%
	height: 250px
	background: $bg
	.swiper-wrapper 
		height: 200px
		background: $bg
	.swiper-slide
		+size(200px, 200px)
		background: $bg
		display: flex 
		align-items: center 
		justify-content: center 
		flex-direction: column
		p
			color: $primary 
			font-weight: bold
		.imgBox
			+size(90%, 90%)
			+flexCenter()
			&>*
				position: absolute
			.object
				+size(80%, 80%)
				bottom: 5px
			.land 
				object-fit: contain
				bottom: 0

// motion 
.canvas .imgBox
	display: inline-block
	position: absolute
	overflow: hidden

.industry .canvas 
	position: absolute
	+size(960px, 500px)
	.land 
		+pos(auto, 100px)
		opacity: 0
	.front 
		+pos(260px, 80px)
	.machine 
		+pos(600px, 10px)
	.building
		+pos(300px, -30px)
	.bus
		+pos(220px, 150px)
	.airplane
		+pos(auto, 200px)
	.coin1
		+pos(50px, 0)
		opacity: 0
	.coin2
		+pos(50px, -100px)
		opacity: 0
	.coin3
		+pos(50px, 210px)
	.chart1 
		+pos(200px, 50px)
	.chart2
		+pos(90px, 80px)
	.chart3
		+pos(50px, 150px)

.invest .canvas 
	position: absolute
	+size(960px, 500px)
	.imgBox.land
		+pos(-100px, 120px)
	.imgBox.wall 
		+pos(50px, 100px)
	.imgBox.other
		+pos(60px, -20px)
	.imgBox.front 
		+pos(280px, 250px)
	.imgBox.boxc1 
		+pos(300px, 150px)
	.imgBox.plant
		+pos(150px, 250px)
	.imgBox.time
		+pos(580px, 30px)
	.imgBox.coin1
		+pos(150px, -200px)
	.imgBox.coin2
		+pos(400px, -100px)
	.imgBox.coin3
		+pos(150px, 300px)
	.imgBox.boxr1 
		+pos(480px, 50px)
	.imgBox.boxr2
		+pos(480px, 50px)
	.imgBox.boxl1
		+pos(90px, 140px)
	.imgBox.boxl2
		+pos(90px, 140px)
	.imgBox.boxl3
		+pos(90px, 140px)
	.imgBox.check
		+pos(420px, 220px)
	.imgBox.cancel
		+pos(200px, 170px)
	.imgBox.circle1
		+pos(100px, 250px)
	.imgBox.circle2
		+pos(160px, 235px)
	.imgBox.circle3
		+pos(220px, 225px)

.sources .canvas 
	position: absolute
	+size(960px, 500px)
	.imgBox.land
		+pos(-100px, 120px)
	.imgBox.mountain 
		+pos(200px, 100px)
	.imgBox.house 
		+pos(475px, 175px)
	.imgBox.line 
		+pos(0, 150px)
	.imgBox.front 
		+pos(350px, 170px)
	.imgBox.mountain 
		+pos(200px, 100px)
	.imgBox.tree1 
		+pos(660px, 160px)
	.imgBox.tree2
		+pos(420px, 220px)
	.imgBox.book
		+pos(60px, -80px)
	.imgBox.img1	
		+pos(340px, -150px)
	.imgBox.img2 
		+pos(320px, -120px)
	.imgBox.chart1 
		+pos(450px, 70px)
	.imgBox.chart2
		+pos(580px, 70px)
	.imgBox.bar
		+pos(190px, 60px)
	.imgBox.boxl1 
		+pos(490px, 50px)
	.imgBox.boxl2
		+pos(460px, 30px)
	.imgBox.boxr1 
		+pos(610px, 50px)
	.imgBox.boxr2
		+pos(580px, 30px)
	.imgBox.pen
		+pos(220px, -80px)
	.imgBox.bSquare
		+pos(350px, 50px)
	.imgBox.gSquare
		+pos(-50px, 250px)
	.imgBox.video
		+pos(500px, -130px)
	.imgBox.ySquareS
		+pos(50px, 100px)
	.imgBox.bSquareS
		+pos(30px, 80px)
	.imgBox.pie
		+pos(180px, 150px)

.products .canvas 
	position: absolute
	+size(960px, 500px)
	.imgBox.land
		+pos(-100px, 120px)
	.imgBox.chartus 
		+pos(100px, 70px)
	.imgBox.charttw
		+pos(450px, 70px)
	.imgBox.chartc
		+pos(200px, -70px)
	.imgBox.bar 
		+pos(600px, 120px)
	.imgBox.focuslb
		+pos(180px, 180px)
	.imgBox.focusrt 
		+pos(500px, -80px)
	.imgBox.bbox 
		+pos(300px, 250px)
	.imgBox.pie 
		+pos(0, -150px)
	.imgBox.mouse 
		+pos(480px, 100px)
	.imgBox.coin 
		+pos(500px, 330px)
	.imgBox.arrow 
		+pos(20px, 300px)
	.imgBox.bbox2
		+pos(35px, 222px)
	.imgBox.ybox 
		+pos(20px, 250px)
	.imgBox.path
		+pos(30px, 100px)

.products .pure-bg
	z-index: 1
.products .bgBall
	position: absolute
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	z-index: 1
@for $i from 1 through 10 
	.bgBall:nth-child(#{$i})
		left: #{random(100)+'%'}
		background: nth($colors, random(4))
		+size(#{50+random(100))+'px'})

section.sales
	background: $bg
