// color 
$primary: #4bb5b1
$yellow: #f8d357
$orange: #ffa225
$blue: #a7ebfc
$bg: #e5fcfc


// default 
@mixin initialize 
  *
    transition: .2s
    box-sizing: border-box
    font-stretch: normal
    font-style: normal
    line-height: 1.38
    letter-spacing: normal
    cursor: default
    font-family: 'Lato', 'Noto Sans TC'
  body, html 
    width: 100%
    margin: 0
    height: 100%
  section
    width: 100%
    height: 100%

// utilis
@mixin size($w, $h:$w)
    width: $w
    height: $h

@mixin pos($x, $y:$x)
    left: $x
    top: $y

@mixin flexCenter()
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

@mixin btn($bgColor, $textColor)
  color: $textColor
  background-color: $bgColor
  border: 1px solid $bgColor
  &:hover 
    color: $bgColor
    background-color: $textColor
    border: 1px solid $textColor

@mixin font($size, $color)
  font-size: $size
  color: $color

// component

section 
  margin: 0px
  position: relative

.info 
  position: absolute
  display: flex
  flex-direction: column
  .title
    width: 240px 
    font-weight: 900
    font-size: 40px
    color: $primary
  .intro
    margin-top: 40px
    width: 196px 
    font-size: 16px 
    line-height: 1.63
  &.right-align
    align-items: flex-end 
    & > * 
      text-align: right
    

.title-bg 
  position: absolute
  width: 100%
  img 
    object-fit: contain

.btn
  display: flex
  justify-content: space-between 
  align-items: center
  background: $primary
  color: white
  padding: 5px 20px 
  border-radius: 30px
  width: 142.3px
  height: 43.2px
  margin-top: 40px

footer 
  +flexCenter() 
  height: 200px 
  width: 100%
  color: white
  background: $primary 


