// color 
$primary: #4bb5b1
$yellow: #f8d357
$orange: #ffa225
$blue: #a7ebfc
$bg: #e5fcfc
$text: #4d4d4d


// default 
@mixin initialize 
  *
    transition: .2s
    box-sizing: border-box
    font-stretch: normal
    font-style: normal
    line-height: 1.38
    letter-spacing: normal
    cursor: default
    font-family: 'Lato', 'Noto Sans TC'
  body, html 
    width: 100%
    margin: 0
    height: 100%
  section
    width: 100%
    height: 100%
  p
    color: $text
    line-height: 1.78
  a 
    text-decoration: none
    color: white
    cursor: pointer

// utilis
@mixin size($w, $h:$w)
    width: $w
    height: $h

@mixin pos($x, $y:$x)
    left: $x
    top: $y

@mixin flexCenter()
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

@mixin btn($bgColor, $textColor)
  color: $textColor
  background-color: $bgColor
  border: 1px solid $bgColor
  &:hover 
    color: $bgColor
    background-color: $textColor
    border: 1px solid $textColor

@mixin font($size, $color)
  font-size: $size
  color: $color

// component

section 
  margin: 0px
  position: relative

.info 
  position: absolute
  display: flex
  flex-direction: column
  z-index: 6
  .title
    width: 241px 
    font-weight: 700
    font-size: 40px
    color: $primary
    letter-spacing: 0.02px
  .intro
    margin-top: 40px
    width: 173px 
    font-size: 16px 
    line-height: 1.63
    color: $text
    letter-spacing: 0.25px
  &.right-align
    align-items: flex-end 
    & > * 
      text-align: right

.btn
  display: flex
  justify-content: space-between 
  align-items: center
  background: $primary
  padding: 5px 20px 
  border-radius: 30px
  width: 142.3px
  height: 43.2px
  margin-top: 40px
  cursor: pointer
  .btn__next 
    border: solid 1px white 
    border-radius: 15px
    +size(25px, 25px)
    +flexCenter()
    line, polyline
      stroke: white
      fill:none
  p 
    color: white
  &:before 
    content: ''
    background: white 
    height: 1px 
    width: 0px
    position: absolute
    margin-top: 10px
.btn:hover 
  .btn__next 
    background: white
    +size(28px, 28px)
  line, polyline 
    stroke: $primary
    fill:none
  &:before 
    animation: line .3s forwards


.highlight
  animation: highlight .3s forwards
  animation-delay: 2s
  &:hover 
    animation: highlight .3s forwards

@keyframes line 
  from 
    width: 0px 
  to 
    width: 65px

@keyframes highlight 
  0% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,0) 1%, rgba(#f8d357,0) 100%) 
  10% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 10%, rgba(#f8d357,0) 11%, rgba(#f8d357,0) 100%)
  20% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 20%, rgba(#f8d357,0) 21%, rgba(#f8d357,0) 100%)
  30% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 30%, rgba(#f8d357,0) 31%, rgba(#f8d357,0) 100%)
  40% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 40%, rgba(#f8d357,0) 41%, rgba(#f8d357,0) 100%)
  50% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 50%, rgba(#f8d357,0) 51%, rgba(#f8d357,0) 100%)
  60% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 60%, rgba(#f8d357,0) 61%, rgba(#f8d357,0) 100%)
  70% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 70%, rgba(#f8d357,0) 71%, rgba(#f8d357,0) 100%)
  80% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 80%, rgba(#f8d357,0) 81%, rgba(#f8d357,0) 100%)
  90% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 90%, rgba(#f8d357,0) 91%, rgba(#f8d357,0) 100%)
  100% 
    background: linear-gradient(90deg, rgba(#f8d357,1) 0%, rgba(#f8d357,1) 99%, rgba(#f8d357,0) 100%)


